/*
  Project created by Jonathan Chuang
  For The Coding School JS Web Dev Curriculum Unit 2
  https://www.the-cs.org/ | https://codeconnects.org/
*/

/*STYLE FOR SECTIONS OF WEB PAGE*/
body {
  background-color: #d3d3d3;
}

footer {
  background-color: #adadad;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*STYLE FOR TEXT*/
h1 {
  padding-top: 10px;
  text-align: center;
  color: #0069b3;
}

h2 {
  text-align: center;
  color: #003f3f;
}

h4 {
  text-align: center;
  color: #0096b3;
}

p {
  padding-left: 90px;
  padding-right: 90px;
  font-size: 14pt;
}

strong {
  font-size: 24pt;
}

/*STYLE FOR NAVIGATION BAR*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #eee;
  position: sticky;
  top: 0;
}

li {
  float: left;
  cursor: pointer;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 39.8px;
  text-decoration: none;
  font-size: 20pt;
}

li a:hover {
  background-color: #00cdbb;
}

/*STYLE FOR IMAGES*/
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*STYLE FOR BUTTONS*/
button {
  display: block;
  background-color: white;
  color: #262626;
  border: 2px solid #00b300;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  border-radius: 30px;
  transition-duration: 0.5s;
  cursor: pointer;
}

button:hover {
  background-color: #00b300;
  color: white;
}

/*Column class*/
.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
}
